# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Django
/staticfiles/
db.sqlite3
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# React build
frontend/dist/
frontend/.vite/

# Media uploads
/media/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
